body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.card-label {
    font-size: 0.8rem;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 1;
}
.list-group{
    text-emphasis-color: black;
}
.News{
    background-color: #343a40;
    color: #fff;
    padding: 20px;
    text-align: center;
}
section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

article {
    margin-bottom: 20px;
}

article h2 {
    color: #333;
}

article p {
    color: #666;
}

article img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 8px;
}
footer {
    background-color: #343a40;
    color: #fff;
    padding: 10px;
    text-align: center;
}